<div class="content">
  <div class="mat-elevation-z8">

    <mat-form-field>
      <mat-label style="color: #212121;">Filtro</mat-label>
      <input matInput placeholder="Filtro" (keyup)="Filterchange($event)">
    </mat-form-field>

      <table mat-table matSort [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.id }} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Banco </th>
          <td mat-cell *matCellDef="let banco"> {{ banco.nome }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numero" >
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Numero </th>
          <td mat-cell *matCellDef="let banco "> {{ banco.numero }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary" aria-label="Adicionar Banco" (click)="onAdd()">
              Adicionar novo Banco
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let banco">
            <button mat-icon-button color="primary" aria-label="Detalhes Banco">
              <mat-icon (click)="onDetails(banco.id)">visibility</mat-icon>
            </button>

            <button mat-icon-button color="primary" aria-label="Editar Banco">
              <mat-icon (click)="onUpdate(banco.id)">edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Remover Banco">
              <mat-icon (click)="onDelete(banco.id)" >delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
      </mat-paginator>
  </div>
</div>

<!--
<div *ngFor="let banco of bancos">
  <ng-container   matColumnDef="teste">
    <mat-header-cell *matHeaderCellDef>
      <button mat-raised-button class="container-button" (click) = "update(banco.id)">update</button>
    </mat-header-cell>

    <mat-cell >
      <button mat-raised-button class="container-button" (click) = "details(banco.id)">detalhes</button>

      <button mat-raised-button class="container-button" (click)= "deleteBank(banco.id)">apagar</button>
    </mat-cell>
  </ng-container>
</div> -->
